body {
    /* background: rgb(104,31,153);
background: linear-gradient(180deg, rgba(104,31,153,1) 25%, rgba(182,16,16,1) 50%, rgba(250,146,0,1) 75%); */
background: rgb(99,7,161);
background: linear-gradient(180deg, rgba(99,7,161,1) 25%, rgba(184,59,59,1) 50%, rgba(255,180,74,1) 75%);
overflow-y: hidden;
}

h1 {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 90px;
}

.button {
    margin: 5px;
    border-radius: 100px;
    width:80%;
    font-size:3.5vmin;
    font-family: 'Montserrat', sans-serif;
}

.button-override {
    background-color: #6307a1;
}

.button-override:hover {
    background-color: #470573;
}

.secondary-button {
    margin: 5px;
    border-radius: 100px;
    width:80%;
    font-size:3.5vmin;
}

#logo {
    width: auto;
    height: 300px;
    margin-top:10vh;
    margin-bottom: 10vh;
    -webkit-filter: invert(1);
    filter: invert(1);
}

#root {
    position: relative;
    text-align: center;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vmin;
    width: auto;
}

.match-card {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.214);
    background-color: rgba(255, 255, 255, 0);
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
}

.header-font {
    color: white;
    font-size: 5vh;
    margin: 5px;
}

.header {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.098);
    background-color: rgba(255, 255, 255, 0);
}

.footer-font {
    color: white;
    font-size: 5vh;
    margin: 5px;
}

.footer {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.098);
    background-color: rgba(255, 255, 255, 0);
}

.reg-text {
    text-align: left;
    color: white;
    font-size: 35px; 
    font-weight: bolder;
}

.form-text {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.098);
    background-color: rgba(255, 255, 255, 0.111);
    text-align: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.form-row {
    text-align: left;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}

.search-container {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.084);
    background-color: rgba(255, 255, 255, 0.043);
    margin-top: 15vh;
    float: left;
    overflow-y: scroll;
    height: 70vh;
    width: 100%;
}

.match-container {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.084);
    background-color: rgba(255, 255, 255, 0.043);
    overflow-y: scroll;
    height: 70vh;
    width: 800px;
}